/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css");
@import "bourbon";
@import "grid-settings";
@import "neat";
@import "colors";
@import "font-faces";
@import "home";

body.index
{
  background-image:image-url("arnica-background-1.jpg");
  background-size:cover;
  background-position: left;
  font-family: $gill;
  font-weight: 100;

}

header
{
  background-color: $transparent_white;
  height:135px;
  border-top:60px #58595b solid;
  padding-top: 24px;

    h1
    {
      color:$black;
      font-size:21px;
      font-weight:normal;
      display:table-cell;
      font-family: $genath_regular;
      overflow: hidden;

    }
  
    form
    {
      text-align: right;
      label
      {
        font-family:$genath_light;
        font-weight:normal;
        color: $grey;          
        font-size:12px;
      }
      input
      {
        border:0;
        border-bottom:1px solid $light_grey;
        background-color:rgba(88,89,91,0);
        font-family: $gill;
        font-size:13px;
        letter-spacing:0.01em;
        margin-left:15px;
      }
      input[type="submit"]
      {
        border:none;
        background-image:image-url("carret-right.svg");
        background-repeat:no-repeat;
        background-position: center;
      }
    }
}

// Positioning 
.wrapper{@include outer-container;display:table;width: 100%;}
h1,h2{font-family: $genath_regular;font-weight:normal;font-size:26pt;}