body.contact
{
  background-image: image-url("arnica-branding-background.png");
  #contact-form
  {
    h2{margin-top:0;}      
    @include span-columns(7 of 12);
    background-color:$transparent_white;
    padding:rem(20);
    font-family: $gill_light;
    @media screen and (-webkit-min-device-pixel-ratio:0)
    {
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
      font-family: 'Open Sans', sans-serif;
      font-size: rem(13);
    }
    #contact-information
    {
      width:rem(210);
      float:left;
      span
      {
        display: block;
        text-align: justify;
        overflow-x: hidden;
        b:after
        {
          float: left;
          width: 0;
          white-space: nowrap;
          content:
          "                                        "
          "                                        "
          "                                        "
          "                                        ";
        }
        em
        {
          float:right;
          font-style: normal;
        }

      }
    }

    form
    {
      width:rem(250);
      float:right;
      #{$all-text-inputs}
      {
        border:rem(2) $black solid;
        padding:rem(2);
        width:rem(250);
        color:$light_grey;
      }

    }

  } 

}