section#design
{
  top:rem(1860);
  background-image:image-url("arnica-background-1.jpg");
  padding-top:rem(156);
  height: rem(840);
  @include span-columns(12);
  a
  {
    text-decoration: none;
    color:$black;
    @include span-columns(6);
    min-height:215px;
    margin-top: rem(65);
  }

  a:nth-child(1),a:nth-child(5){margin-bottom: rem(10);}
  a:nth-child(5),a:nth-child(13){@include omega();}

  h2
  {
    margin-top: -66px;
    padding-left:20px;
    padding-top:rem(12);
    padding-bottom:14px;
    background-color: $transparent_white;
    font-size:27px;
    display: block;
  }

  a:nth-child(2),a:nth-child(3),a:nth-child(4),a:nth-child(6),a:nth-child(7),a:nth-child(8),a:nth-child(10),a:nth-child(11),a:nth-child(12),a:nth-child(14),a:nth-child(14),a:nth-child(15),a:nth-child(16)
  {
    display: none;
  }

  a img {  margin-top: rem(-22);}

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

  section.body {margin-top:rem(15)}
  section.body a {min-height:200px;}

}








