// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.index
{
  background-image:image-url("arnica-background-1.jpg");
  background-size:cover;
  font-family:$lato;
  //-webkit-font-smoothing: antialiased;
}

header
{
  background-color: $transparent_white;
  height:135px;
  border-top:60px #58595b outset;
  padding-top: 20px;
  .wrapper{display:table;width: 100%;}
    h1
    {
      color:$grey;
      font-style: italic;
      font-size:21px;
      font-weight:700;
      display:table-cell;

    }
  
    form
    {

        label
        {
          font-family:$playfair;
          font-style: italic;
          font-weight:normal;
          color: $light_grey;          
          font-size:12px;
        }
    }
}

.wrapper{@include outer-container;}

h1,h2
{
  font-family: 'Playfair Display', serif;
}


p{@include span-columns(6);}








