// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.body
{
  margin-top:40px;
  @include span-columns(12);
  a{text-decoration: none;color:$black;@include span-columns(6);min-height:215px;}
  a:nth-child(1),a:nth-child(2){margin-bottom:10px;}
  a:nth-child(2){@include omega();}
  h2
  {
    margin-top: 0;
    padding-left:20px;
    padding-top:14px;
    padding-bottom:14px;
    background-color: $transparent_white;
    font-size:27px;
  }

  a:nth-child(1){background-image: image-url("product-design-and-creation.png");}
  a:nth-child(2){background-image: image-url("identity-design.png");}
  a:nth-child(3){background-image: image-url("graphic-design.png");}    
  a:nth-child(4){background-image: image-url("web-design-and-development.png");}  

 
}










